<nav class="d-none d-md-block sidebar mr-0 pr-0">
  <div class="sidebar-sticky">
    <ul class="nav flex-column left-nav">

      <li class="nav-item mt-0" *ngFor="let employee of this.employeeResponse"
        routerLinkActive="active router-link-active">
        <div class="nav-box">
          <a class="nav-link float-left" [routerLink]="['employee', employee.id]">

            <span class="username font-weight-bold">{{employee.fullname}}</span>
            <span class="description"> {{employee.role}}</span>
          </a>
          <a class="right" (click)="deleteEmployee(employee)" href="#">
            <i class="fa fa-trash" aria-hidden="true"></i>

          </a>

        </div>

      </li>

    </ul>
  </div>
</nav>
