<div class="tab-content m-3 p pt-5">
    <form [formGroup]="employeeForm">
      <div class="form-group row">
        <label for="fullName" class="col-sm-3 col-form-label">Full Name</label>
        <div class="col-sm-6">
          <input type="text" formControlName="fullName" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="address" class="col-sm-3 col-form-label">Address</label>
        <div class="col-sm-6">
          <input type="text" formControlName="address" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="phoneNumber" class="col-sm-3 col-form-label">Phone Number</label>
        <div class="col-sm-6">
          <input type="text" formControlName="phoneNumber" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="position" class="col-sm-3 col-form-label">Position</label>
        <div class="col-sm-6">
          <select class="form-control" formControlName="role">
            <option>--Select--</option>
            }
            <option *ngFor="let role of rolesDD" [value]="role">{{role}}</option>
          </select>
        </div>
      </div>
      <button (click)="save()">Save</button>
    </form>


</div>
