.tab-content {

  background-color: white;
  height: 700px;



}
.required.col-form-label:after {
  content:"*";
  color:red;
}

form {
  text-align: center;

  label {
    text-align: left;
    padding-left: 10%;
  }
}
